@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 100% 66.7%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 48.1, 100%, 67.5%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 2rem;
  }

  .dark {
    --background: 0 0% %;
    --foreground: 0 0% 00%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 100%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 100%;

    --primary: 48.1, 100%, 67.5%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 00%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215.4 16.3% 46.9%;
    --muted-foreground: 210 40% 96.1%;

    --accent: 224 100% 66.7%;
    --accent-foreground: 210 40% 96.1%;

    --destructive: 210 40% 98%;
    --destructive-foreground: 0 84.2% 60.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
